.form-field {
  margin-bottom: 10px;
  display: block;
}

html {
  font-size: 30px;
}

input::placeholder {
  color: purple;
  font-weight: bold;
}

:focus {
  background-color: whitesmoke;
}

input:invalid {
  border-color: red;
}

input:checked + label {
  color: green;
}

input:has(input:checked) {
  color: blue;
}

button:hover {
  color: blue;
}

button:active {
  color: aqua
}